# Django secrets
DJANGO_SECRET_KEY = 'django-insecure-@k04vsjy@qv3m573&94kgq_kjj@lad^^d%hr_o2sk!a6+c3ne9'
DEBUG = True

# Database settings
POSTGRES_DB = "movies_database"
POSTGRES_USER = "app"
POSTGRES_PASSWORD = "123qwe"
POSTGRES_HOST = "db"
POSTGRES_PORT = "5432"

# Superuser
DJANGO_SUPERUSER_PASSWORD = "1234"
DJANGO_SUPERUSER_USERNAME = "app_user"
DJANGO_SUPERUSER_EMAIL = "admin@example.com"