# Database settings
POSTGRES_DB = "movies_database"
POSTGRES_USER = "app"
POSTGRES_PASSWORD = "123qwe"
POSTGRES_HOST = "db"
POSTGRES_LOCAL_HOST = "127.0.0.1"
POSTGRES_PORT = "5432"

PAGE_SIZE=100

SQLITE_PATH="sqlite_to_postgres/db.sqlite"