POSTGRES_DB = "movies_database"
POSTGRES_USER = "app"
POSTGRES_PASSWORD = "123qwe"
POSTGRES_HOST = "db"
POSTGRES_LOCAL_HOST = "127.0.0.1"
POSTGRES_PORT = "5432"

ELASTICSEARCH_SCHEMA=http
ELASTICSEARCH_HOST=elastic
ELASTICSEARCH_PORT=9200

REDIS_HOST=redis
REDIS_PORT=6379

BATCH_SIZE=1000
FREQUENCY=15

MAX_RETRIES=7
MAX_WAIT=60
JITTER=2